# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
.env

# OS files
.DS_Store

# IDE
.vscode/
.idea/

# Database
*.db

# CSV outputs
*.csv

# Env files
.env

# log files
log.txt

# keep example
!books_sample.csv
!summary_sample.csv
log.txt
